NODE_ENV=
BYPASS_EMAIL=
BYPASS_OTP=
PORT=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES_IN=30d

OTP_EXPIRES_IN_MINUTES=
OTP_RESEND_COOLDOWN_SECONDS=
OTP_MAX_ATTEMPTS=

# AWS Configuration
AWS_SIGNED_UPLOAD_EXPIRES_SECONDS=
AWS_SIGNED_READ_EXPIRES_SECONDS=

AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_REGION=
SES_FROM_EMAIL=
SES_CONTACT_RECEIVER_EMAIL=

REDIS_URL=

API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=your_api_football_key


CACHE_STALE_MULTIPLIER=4

# Live/high priority
CACHE_TTL_LIVE_FIXTURES_SECONDS=30
CACHE_STALE_LIVE_FIXTURES_SECONDS=120

CACHE_TTL_LIVE_FIXTURE_DETAIL_SECONDS=30
CACHE_STALE_LIVE_FIXTURE_DETAIL_SECONDS=120

CACHE_TTL_LIVE_EVENTS_SECONDS=20
CACHE_STALE_LIVE_EVENTS_SECONDS=90

CACHE_TTL_LIVE_STATS_SECONDS=60
CACHE_STALE_LIVE_STATS_SECONDS=240

# Fixtures
CACHE_TTL_FIXTURES_TODAY_SECONDS=300
CACHE_STALE_FIXTURES_TODAY_SECONDS=900

CACHE_TTL_FIXTURES_FUTURE_SECONDS=21600
CACHE_STALE_FIXTURES_FUTURE_SECONDS=43200

CACHE_TTL_FIXTURES_PAST_SECONDS=86400
CACHE_STALE_FIXTURES_PAST_SECONDS=604800

# Lineups
CACHE_TTL_LINEUPS_BEFORE_FOUND_SECONDS=600
CACHE_STALE_LINEUPS_BEFORE_FOUND_SECONDS=1800

CACHE_TTL_LINEUPS_AFTER_FOUND_SECONDS=86400
CACHE_STALE_LINEUPS_AFTER_FOUND_SECONDS=604800

# Stable data
CACHE_TTL_TEAM_PROFILE_SECONDS=2592000
CACHE_STALE_TEAM_PROFILE_SECONDS=6048000

CACHE_TTL_LEAGUE_PROFILE_SECONDS=2592000
CACHE_STALE_LEAGUE_PROFILE_SECONDS=6048000

CACHE_TTL_STANDINGS_SECONDS=1800
CACHE_STALE_STANDINGS_SECONDS=7200

CACHE_TTL_TOP_SCORERS_SECONDS=3600
CACHE_STALE_TOP_SCORERS_SECONDS=21600

CACHE_TTL_TOP_ASSISTS_SECONDS=3600
CACHE_STALE_TOP_ASSISTS_SECONDS=21600

CACHE_TTL_TRANSFERS_SECONDS=21600
CACHE_STALE_TRANSFERS_SECONDS=86400

CACHE_TTL_SEARCH_SECONDS=604800
CACHE_STALE_SEARCH_SECONDS=2592000