NODE_ENV=development
PORT=5000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=kicscore

JWT_ACCESS_SECRET=your_access_secret_kicscore
JWT_REFRESH_SECRET=your_refresh_secret_kicscore
JWT_ACCESS_EXPIRES_IN=30d

OTP_EXPIRES_IN_MINUTES=10
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
SES_FROM_EMAIL=
SES_CONTACT_RECEIVER_EMAIL=

AWS_S3_BUCKET_NAME=
AWS_SIGNED_UPLOAD_EXPIRES_SECONDS=300
AWS_SIGNED_READ_EXPIRES_SECONDS=900